# Entorno virtual
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Datos muy grandes (opcional)
data/raw/*.csv
data/raw/*.xlsx